<% include partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
           <h1>Welcom to The Campgrounds!</h1> 
           <p>View our hand-picked campgrounds from all over the world.</p>
           <p>
               <a class="btn btn-primary btn-large" href="/campgrounds/new">Add New Campground</a>
           </p>
       </div>
    </header>

<ul>
<% campgrounds.forEach(function(campground){ %>
    <figure>
        <figcaption>
            <strong>
                <h4><%= campground["name"]%></h4>
            </strong>
        </figcaption>
        <img src="<%=campground["image"]%>" alt="image of a natural setting">
    </figure>
<% }); %>
</ul>

</div>

<% include partials/footer %>