<% include partials/header %>

<h1>Here are the Campgrounds</h1>

<ul>
<% campgrounds.forEach(function(campground){ %>
    <figure>
        <strong><figcaption><%= campground["name"]%></figcaption></strong>
        <img src="<%=campground["image"]%>" alt="image of a natural setting">
    </figure>
<% }); %>
</ul>


<% include partials/footer %>