<% include partials/header %>

<div class="container">
    <header class="jubotron">
       <h1>Here are the Campgrounds</h1> 
    </header>

<a href="/campgrounds/new">Add New Campground</a>
<ul>
<% campgrounds.forEach(function(campground){ %>
    <figure>
        <figcaption>
            <strong>
                <h4><%= campground["name"]%></h4>
            </strong>
        </figcaption>
        <img src="<%=campground["image"]%>" alt="image of a natural setting">
    </figure>
<% }); %>
</ul>

</div>

<% include partials/footer %>