<% include partials/header %>

<h1>Here are the Campgrounds</h1>

<ul>
<% campgrounds.forEach(fucntion(campground){ %>
    <figure>
        <figcaption><strong> <%=campground["name"] %> </strong></figcaption>
        <img src=<%=campground["image"]%> >
    </figure>
<% }) %>
</ul>


<% include partials/footer %>